body {
  background: #DB7093;
  font: 700 1rem 'Poppins', sans-serif;
  height: 100%;
  margin-top: 20rem;
}

#w {
  width: 800px;
  margin: auto;
  color: #FFB6C1;
  text-align: center;
}

.b {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  
}

h1{
  font: 700 1rem 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 3rem;
  
}

#seconds, #tens {
  font-size: 2rem;
}

button {
  background-color: #FFC0CB;
  text-decoration: none;
  font: 400 2rem 'Poppins', sans-serif;
  border-color: #DB7093;
  border-radius: 20rem;
  color: #DB7093;
  margin-top: 2rem;
}