body{
  background: #DB7093;
  font: 700 1rem 'Poppins', sans-serif;
  height: 100%;
  margin-top: 20rem;

}

h1{
  font: 700 20rem 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: #FFB6C1;
  text-align: center;
  
}


.c{

  font: 400 1rem 'Poppins', sans-serif;
  width: 800px;
  margin: auto;
  color: #FFB6C1;
  text-align: center;
  font-size: 5rem;
  
}