body {
  background: #DB7093;
  font: 700 1rem 'Poppins', sans-serif;
  height: 100%;
  margin-top: 20rem;
}

header{

  display: inline;
  width: 100vw;
  height: 50rem;
  text-align: left;
}

.a {
  font-family: Poppins;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  display: block;
  list-style: none;
  text-decoration: none;
  color: #a35668;
}

.a:hover{
  background-color: #ffb6c1 ;
  transition: 0,5s;
}

ul{
  margin-top: 10em;
  
  list-style: none;
}


.n {
  position: relative;

}

#nav {

  background-color: #a35668;
  position: absolute;
  width: 20rem;
  left: -20rem;
  height: 100vh;
  text-align: center;
  z-index: 1;
  transition: 0.6s;
}


#w {

  
  width: 800px;
  margin: auto;
  color: #FFB6C1;
  text-align: center;
}

.b {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  
}


h1{
  font: 700 1rem 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 3rem;

}

#seconds, #tens {
  font-size: 2rem;
}

button {
  background-color: #FFC0CB;
  text-decoration: none;
  font: 400 2rem 'Poppins', sans-serif;
  border-color: #DB7093;
  border-radius: 20rem;
  color: #DB7093;
  margin-top: 2rem;
}